.Model{
    position: absolute;
    height: 520px;
    width: 1000px;
    left: 144px;
    top: 220px;
    border-radius: 4px;
    background-color: white;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.m-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.item{
    width: 190px;
    height: 230px;
}

.item-list{
    display: flex;
    justify-content: space-between;
}

.model-image{
    width: 160px;
    height: 180px;
    object-fit: cover;
}

.m-bottom{
    margin-top: 20px;
    margin-bottom: 20px;
}

.suggestion-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
}